* {
    transition: all 0.5s;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;
    backdrop-filter: blur(10px) saturate(150%);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px 20px 0 20px;
}

.search-field input {
    width: 100%;
    background-color: #ffffff;
    border-radius: 40px;
    border: none;
    outline: none;
    padding: 15px;
    font-size: large;
    font-weight: 600;
    text-align: center;
    margin-right: 15px;
}

.search-field input::placeholder {
    font-weight: 500;
}

.search-icon img {
    height: 28px;
    width: 28px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.search-icon img:hover {
    transform: scale(1.2);
}

/* Add this media query for extra small screens (phones) */
@media screen and (max-width: 480px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }

    .search-field input {
        font-size: medium;
        margin-right: 0;
    }

    .element img {
        height: 60px;
        width: 60px;
    }

    .weather-temp {
        font-size: 50px;
    }

    .weather-location {
        font-size: 24px;
    }
}

/* Add this media query for small to medium screens (tablets and small laptops) */
@media screen and (max-width: 480px) {
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: auto;
        margin: auto;
        transform: scale(1.0);
    }

    .search-field,
    .search-icon {
        width: 100%;
        /* margin-bottom: 10px; */
        display: flex;
        flex:content;
        gap:10px;
        text-align: center;
    }

    .search-field input {
        margin-right: 0;
    }
}

/* Add this media query for large screens (desktops and larger laptops) */
@media screen and (min-width: 769px) {

    .container {
        padding: 20px 50px;
    }

    .search-field input {
        font-size: large;
    }

    .element img {
        height: 80px;
        width: 80px;
    }

    .weather-temp {
        font-size: 80px;
    }

    .weather-location {
        font-size: 32px;
    }
}